@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-blob-1 {
  position: absolute;
  height: 320px;
  width: 320px;
  transform: translateX(-128px);
  border-radius: 9999px;
  background-color: rgba(236, 72, 153, 0.6); /* fuchsia-300 with opacity */
  filter: blur(48px);
}

.hero-blob-2 {
  position: absolute;
  height: 288px;
  width: 288px;
  transform: translateX(160px) translateY(80px);
  border-radius: 9999px;
  background-color: rgba(6, 182, 212, 0.7); /* cyan-300 with opacity */
  filter: blur(48px);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes text-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-text-gradient {
  background-size: 200% 200%;
  animation: text-gradient-animation 6s ease infinite;
}
